<div class="container">
  <div class="row">
    <div class="col-4">
      <dashboard-card title="Total Approved Leave" [content]="totalLeaves" buttonLabel="View Details"></dashboard-card>
    </div>
    <div class="col-4">
      <dashboard-card title="Total Pending leave" [content]="totalPendingRequests" buttonLabel="View Details"></dashboard-card>
    </div>
    <div class="col-4">
      <dashboard-card title="Total Rejected Leave" [content]="totalCanceledRequests" buttonLabel="View Details"></dashboard-card>
    </div>
  </div>
</div>

